

.cookieConsentContainer {

	z-index: 999;

	width: 350px;

	min-height: 20px;

	box-sizing: border-box;

	padding: 30px 30px 30px 30px;

	background: #232323;

	overflow: hidden;

	position: fixed;

    bottom: 30px;

	right: 30px;

	display: none;

}

.cookieConsentContainer .cookieTitle a {

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	font-size: 22px;

	line-height: 20px;

	display: block;

}

.cookieConsentContainer .cookieDesc p {

	margin: 0;

	padding: 0;

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	font-size: 13px;

	line-height: 20px;

	display: block;

	margin-top: 10px;

} .cookieConsentContainer .cookieDesc a {

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	text-decoration: underline;

}

.cookieConsentContainer .cookieButton a {

	display: inline-block;

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	font-size: 14px;

	font-weight: bold;

	margin-top: 14px;

	background: #000000;

	box-sizing: border-box; 

	padding: 15px 24px;

	text-align: center;

	transition: background 0.3s;

}

.cookieConsentContainer .cookieButton a:hover { 

	cursor: pointer;

	background: #3E9B67;

}



@media (max-width: 980px) {

	.cookieConsentContainer {

		bottom: 0px !important;

		left: 0px !important;

		width: 100%  !important;

	}

}



h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 50px;
  
position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; /* Need a specific value to work */
  
    display: flex;
    justify-content: center;
    
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
   
 



  
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
  }


body {

  background-color: #333;
  zoom: 75%;
  
}




