body {
  text-align: center;
  padding: 70px 50px;
  background: #0D1A29;
  font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;  
}

#timer {  
  

  font-size: 10em;
  font-weight: 1000;
  color: white;
  text-shadow: 0 0 20px #48C8FF;
}
  div {
    
    display: inline-block;
    min-width: 90px;
  }
    
    span {
      color: #B1CDF1;
      display: block;
      font-size: .15em;
      font-weight: 400;
    }
 
